.green {
  color: green;
}
.red {
  color: red;
}
table,
tr,
th,
td {
  border: 1px solid black;
  padding: 0px 5px;
}
.fs-10 {
  color: blue;
  font-size: 10px;
}
.fs-15 {
  color: black;
  font-size: 15px;
}
.fs-20 {
  color: brown;
  font-size: 20px;
}
.fs-25 {
  color: green;
  font-size: 25px;
}
.fs-30 {
  color: red;
  font-size: 30px;
}

.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
.line-height-2 {
  line-height: 2;
}
.line-height-1 {
  line-height: 1;
}
