<div class="row" *ngIf="true">
  <h1>pipes Practices </h1>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>simple pipes</h2>
        <table [attr.border]="border" [attr.width]="width" [attr.height]="height">
          <tr>
            <th>emp code</th>
            <th>emp Name</th>
            <th>emp salary</th>
            <th>emp dob</th>
          </tr>
          <tr *ngFor="let em of employees">
            <td>{{ em.code | uppercase}}</td>
            <td>{{ em.name | lowercase }}</td>
            <td>{{ em.salary | currency : 'INR'}}</td>
            <td>{{ em.dob |date: 'dd/MM/yyyy'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>Parameterize pipes</h2>
        {{ dob }} <br><br>
        medium : {{ dob | date: 'medium' }} <br /><br />
        special format : {{ dob | date: 'dd/MM/yyyy' }} <br /><br>
        mediumTime : {{ dob |date : 'mediumTime' }} <br /><br>
        Salary : {{ salary | currency :'INR':true}} <br /><br>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>Multiple pipes</h2>
        medium : {{ dob | date: 'medium' | lowercase }} <br /><br />
        fulldate : {{ dob | date :'fullDate' | uppercase}} <br /><br />
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>pipes with string</h2>

      </div>
    </div>
  </div>
</div>
