<app-navbar></app-navbar>
<p-table [value]="jewelery" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>#Id</th>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jewelery>
    <tr>
      <td>{{jewelery.id}}</td>
      <td>{{jewelery.title}}</td>
      <td>{{jewelery.category}}</td>
      <td>{{jewelery.price | currency:'INR'}}</td>
      <td>
        <p-rating [ngModel]="jewelery.rating.rate" [ngClass]="'rate'" [readonly]="true" [cancel]="false"></p-rating>
      </td>
      <td><img src="{{jewelery.image}}" class="shadow-4"></td>
      <td>{{jewelery.description}}</td>
    </tr>
  </ng-template>
</p-table>
