<app-navbar></app-navbar>
<p-table #dataTable [value]="productsList" [paginator]="true && productsList.length!=0" [rows]="5"
  [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,30]" [scrollable]="true" scrollHeight="750px"
  (sortFunction)="customSort($event)" [customSort]="true" [globalFilterFields]="['id','title','price']"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

  <ng-template pTemplate="caption">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="m-0" class="manage-product">Manage Products</h3>
      <span class="search">
        <p-button icon="pi pi-plus" iconPos="left" class="create-product-button" (onClick)="displayCreateModal()"
          pTooltip="Add New Products">
        </p-button>
        <span class="p-input-icon-left flex align-items-right justify-content-between">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
        </span>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr colspan="4">
      <div class="spinner-parent" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </tr>
    <tr>
      <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="title">title<p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pSortableColumn="price">price<p-sortIcon field="price"></p-sortIcon>
      </th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-products>
    <tr>
      <td>{{products.id}}</td>
      <td>{{products.title}}</td>
      <td>{{products.price | currency: 'INR'}}</td>
      <td><a href="{{products.image}}"><img src="{{products.image}}" class="shadow-4"></a></td>
      <td class="button-margin">
        <button pButton type="button" class="p-button-raised  p-button-rounded" icon="pi pi-file-edit"
          (click)="updateProduct(products.id)"></button>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger" icon="pi pi-trash"
          (click)="deleteProduct(products.id)" style="cursor:pointer"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-products>
    <tr>
      <td [attr.colspan]="5" class="text-center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<app-create-product [displayModal]="createModal" (closeCreatePopup)="closeCreatePopup()">
</app-create-product>
<app-update-product [updateModal]="updateModal" [productsId]="productsId" (closeUpdatePopup)="closeUpdatePopup()">
</app-update-product>
