<h2 class="observable-practice-modules-h2">second-componunt !</h2>
<div>
  <h2>subject com from Left side Compununt : {{subjectCount}}</h2>
</div>

<div class="row justify-content-sm-center">
  <div>

    <form>
      <div class="form-row">
        <label for="validationServer01">data from subject</label>
        <input type="text" class="form-control is-valid" id="validationServer01" [value]="shareDataAcrosAllComponunt"
          placeholder="Enter Data To Share" required>
      </div>
    </form>
  </div>
</div>
