<p-dialog header="Create products" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false" (onHide)="closeDialog(creatProductForm)">
  <form #creatProductForm="ngForm" id="creatProductForm" name="creatProductForm"
    (ngSubmit)="onSubmit(creatProductForm)">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="title">Title</label>
          <input type="text" id="title" class="form-control form-control-lg" #txtTitle="ngModel" name="title" required
            ngModel />
        </div>
        <div *ngIf="(txtTitle.touched  && txtTitle.invalid)" class="margin-top text-danger">
          Title is required
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="price">Price</label>
          <input type="number" id="price" class="form-control form-control-lg" name="price" required #txtPrice="ngModel"
            ngModel />
        </div>
        <div class="margin-top text-danger">
          <span *ngIf="(txtPrice.touched && txtPrice.invalid)">
            Price is required
          </span>
        </div>
      </div>
    </div>
    <div class="mt-4 pt-2">
      <button pButton type="submit" [disabled]="creatProductForm.invalid" label="Save" icon="pi pi-check"></button>
    </div>
  </form>
</p-dialog>
