<div class="row" *ngIf="true">
  <h1>Routing Practices </h1>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>RouterLink example</h2>
        <a [routerLink]="['parents']">parents</a><br>
        <a [routerLink]="['directives']">directives</a><br>
        <a [routerLink]="['pagenotfound']">page not found</a><br>
        <a [routerLink]="['registration']">Registration</a><br>
        <a [routerLink]="['uploadfile']">upload File</a><br>
      </div>
    </div>
  </div>
</div>
