<div class="row" *ngIf="true">
  <h1>Routing Practices </h1>
  <div class="col-md-6" *ngIf="true">
    <div class="card" style="width: fit-content;">
      <div class="card-body">
        <h2>RouterLink example</h2>
        <a class="btn btn-primary btn-lg" [routerLink]="['parents']">parents</a><br><br>
        <a class="btn btn-primary btn-sm" [routerLink]="['directives']">directives</a><br><br>
        <a class="btn btn-primary" [routerLink]="['pagenotfound']">page not found</a><br><br>
        <a class="btn btn-primary" [routerLink]="['registration']">Registration</a><br><br>
        <a class="btn btn-primary" [routerLink]="['uploadfile']">upload File</a>
      </div>
    </div>
  </div>
</div>
