<h2 class="observable-practice-modules-h2">complite-leftbar !</h2>
<h2>datatable</h2>
<p-table [value]="products" responsiveLayout="scroll" [scrollable]="true" scrollHeight="80vh">
  <ng-template pTemplate="header">
    <tr>
      <th>#Id</th>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-products>
    <tr>
      <td>{{products.id}}</td>
      <td>{{products.title}}</td>
      <td>{{products.price | currency:'INR'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="3">Total Records {{totalRecords}}</td>
    </tr>
  </ng-template>
</p-table>
