<div *ngIf="false">
  <h2>@HostListener Example</h2>
  <h3>click on any element thn it fire</h3>
  <!-- <app-dummy></app-dummy> -->
  <!-- dont works -->
  <!-- <div class="app-dummy">dummy component</div> -->
  <div app-dummy>dummy component</div>
  <div>
    <h1>
      preserveWhitespaces in Angular
    </h1>
    <div>
      <button type="button" (click)="displydummyComponent()" class="btn btn-primary">display
        displydummyComponent</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
  <div *ngIf="displyComponent">
    <div app-dummy></div>
  </div>
</div>

<!-- parent to chield and chield to parent data transfer using property -->
<div *ngIf="false">
  <h1>parent to chield data transfer using property</h1>
  <div style="background-color:rgb(223, 138, 33); ">
    <app-parents></app-parents>
  </div>
</div>

<!-- <h1>Directives  practices</h1> -->
<div *ngIf="false">
  <app-directives-practices></app-directives-practices>
</div>

<!-- <h1>binding  practices</h1> -->
<div *ngIf="false">
  <app-data-binding-practices></app-data-binding-practices>
</div>

<!-- <h1>pipes   practices</h1> -->
<div *ngIf="false">
  <app-pipes-practice></app-pipes-practice>
</div>

<!-- <h1>Routing    practices</h1> -->
<div *ngIf="true">
  <!-- panding videos -->
  <app-routing-practices></app-routing-practices>
</div>


<!-- <h1>services    practices</h1> -->
<div *ngIf="false">
  <app-services-practices></app-services-practices>
</div>

<!-- <h1>form    practices</h1> -->
<div *ngIf="true">
  <app-main-comp></app-main-comp>
</div>
