<!-- poduct crud operation  -->
<div *ngIf="false">
  <app-view-products></app-view-products>
</div>

<!-- pass data with api header -->
<div *ngIf="false">
  <h2>pass data with api header , authorized token , set header data</h2>
  <app-pass-data-in-header></app-pass-data-in-header>
</div>

<!-- reactvie Form -->
<div *ngIf="false">
  <!-- <h2>Reactive Form</h2> -->
  <app-registration-in-reactive-form></app-registration-in-reactive-form>
</div>

<!-- observable practice -->
<div *ngIf="false">
  <!-- <h2>observable practice</h2> -->
  <app-dashboard></app-dashboard>
</div>

<!-- observable complite practice -->
<div *ngIf="false">
  <!-- <h2>observable complite practice</h2> -->
  <app-complite-dashboard></app-complite-dashboard>
</div>

<!--Auth Guards in Angular -->
<div *ngIf="false">
  <h2>Auth Guards in Angular practice</h2>
  <app-one></app-one>
</div>

<!--Dashboard Of all practice -->
<div *ngIf="true">
  <!-- <h2>Dashboard Of all practice</h2> -->
  <app-dashboard-all></app-dashboard-all>
</div>

